body {
  margin: 0;
}


.dragzone {
  position: relative;
}
  .ctr-msg {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;

    width:500px;
    height:100px;

    margin: auto;
    padding:1rem;
    background-color: gray;
    opacity:0.5;

    font-size: 3em;
    text-align: center;
  
    display:none;
  }


  .visuals {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 50vh;
  }

    .controls {
      width:100px;
      margin:0;
      padding:1rem;
      background-color: orange;
    }


    .drawboard {
      border: solid 1px #ccc;
      flex-grow: 1;
    }

      circle {
        color: #000000;
        opacity: 0.65;
      }

        .selected {
          fill: red;
        }


  .files {
    display: flex;
    flex-direction: row;
    height: 50vh;
  }
    .file-content {
      margin: 0 1rem;
      border: 1px dotted black;
      flex-grow:1;
    }
