body {
  margin: 0;
}


.dragzone {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
}
  .show-msg {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10;

    width:500px;
    height:100px;

    margin: auto;
    padding:1rem;
    background-color: gray;
    opacity:0.5;

    font-size: 3em;
    text-align: center;
  
    display:none;
  }

  .visuals {
    position: relative;
    width: 50%;
    /* height: inherit; */
    display: flex;
    flex-direction: column;
  }

    .controls {
      flex-grow:1;
      margin:0;
      background-color: orange;
    }


  .drawboard {
    border: solid 1px #ccc;
    flex-grow: 10;
  }

    circle {
      color: #000000;
      opacity: 0.65;
    }

      .selected {
        fill: red;
      }


  .files {
    width:50%;
    display: flex;
    flex-direction: column;
  }
    .file-content {
      margin: 0 1rem;
      border: 1px dotted black;
      flex-grow:3;
    }
