#main {
  display: flex;
  flex-direction: row;
}

#visuals {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

svg {
  border: solid 1px #ccc;
  /* flex-grow: ; */
  height: 90vh;
}

circle {
  color: #000000;
  opacity: 0.65;
}

.selected {
  fill: red;
}

.controls {
  background-color: orange;
  /* flex-grow: 1; */
}

#files {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.dropbox {
  border: 2px solid #000;
  width: 200px;
  height: 200px;
}
